li {
    list-style: none;
}

a {
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    text-decoration: none;
}

button {
    font-family: "Red Hat Text", sans-serif;
    font-weight: medium;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: #0D606F;
    color: #fff;
}

.title {
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
}

.header {
    background-image: url("../images/header_bg.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 24px 0;
    background-color: #f2785c;
    opacity: 70%;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 0 42px;
}

.menu__link {
    font-size: 16px;
    color: #fff;
}

.header__login {
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
 
    padding: 10px 30px 10px 30px;
}

.preview {
    background-image: url("../images/header_bg.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.preview__wrapper {
    padding: 32px;
    width: 892px;
}

.preview__title {
    color: #fff;
    font-size: 80px;
    font-family: "Aleo", serif;
    font-weight: bold;
    margin-bottom: 48px;
}

.preview__descr {
    margin-bottom: 46px;
    font-family: "Aleo", serif;
    font-weight: bold;
    font-style: italic;
    color: #fff;
}

.preview__input {
}

.start {
    width: 892px;
    height: 95px;
    opacity: 70%;
    border-radius: 16px;
    border: none; 
}

.start::placeholder {
    color: #F2785C;
    font-size: 24px;
    font-family: "Aleo", serif;
    font-style: italic;
    padding: 32px 0 41px 41px;
}

.start__plan {
    width: 228px;
    height: 59px;
}
