* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    text-decoration: none;
}

button {
    font-family: "Red Hat Text", sans-serif;
    font-weight: medium;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: #0d606f;
    color: #fff;
}

.section__title {
    font-family: "Red Hat Text", sans-serif;
    font-weight: medium;
    color: #f2785c;
    font-size: 40px;
    text-align: center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
}

.section__header {
    background-image: url("../images/backgrounds/header_bg.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.header {
    background-color: rgba(242, 120, 92, 0.7);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 24px 0;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 0 42px;
}

.menu__link {
    font-size: 16px;
    color: #fff;
}

.header__login {
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;

    padding: 10px 30px 10px 30px;
}

.preview {
    background-image: url("../images/backgrounds/header_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.preview__wrapper {
    padding: 2px 0;
    width: 892px;
}

.preview__title {
    color: #fff;
    font-size: 80px;
    font-family: "Aleo", serif;
    font-weight: bold;
    margin-bottom: 48px;
}

.preview__descr {
    margin-bottom: 46px;
    font-family: "Aleo", serif;
    font-weight: bold;
    font-style: italic;
    color: #fff;
}

.preview__wrapper-input {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 221px;
}

.start {
    width: 892px;
    height: 95px;
    opacity: 70%;
    border-radius: 16px;
    border: none;
}

.start::placeholder {
    color: #f2785c;
    font-size: 24px;
    font-family: "Aleo", serif;
    font-style: italic;
    padding: 32px 0 41px 41px;
}

.start__plan {
    font-family: "Red Hat Text", sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    right: 0;
    margin: 18px;
    width: 228px;
    height: 59px;
}

.step {
    margin-top: 80px;
    margin-bottom: 97px;
}

.step__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item__wrapper {
    padding-top: 40px;
    text-align: center;
}

.step__img {
    background-color: #f2785c;
    border-radius: 16px;
    padding: 28px;
}

.step__item-descr {
    color: #0d606f;
    font-size: 20px;
    padding-top: 15px;
}

.slider__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider__item {
    position: relative;
    display: flex;
    padding-left: 50px;
}

.slider_img {
    border-radius: 16px;
}

.slider__descr-img {
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding-bottom: 40px;
    padding-left: 60px;
}

.slider__switch-wrapper {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}

.switch__slide {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #f2785c;
    opacity: 50%;
}

.switch__slide:active {
    background-color: #f2785c;
}

.destanation__btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.destanation__btn {
    width: 228px;
    height: 59px;
    padding: 13.5px 31px;
    font-family: "Red Hat Text", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.stories {
    background-image: url("../images/backgrounds/stories_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stories__content-wrapper {
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.7);
}

.stories__content-item {
}

.stories__content-item {
    display: flex;
    gap: 0 40px;
    margin-bottom: 30px;
}

.stories__img {
    border-radius: 16px;
}

.stories__content-text {
    max-width: 720px;
}

.stories__title-descr {
    font-family: "Aleo", serif;
    color: #0d606f;
    font-size: 25px;
}

.stories__descr {
    font-family: "Aleo", serif;
    font-style: mixed;
    font-size: 20px;
    color: #0d606f;
}

.stories__descr span {
    color: #0d606f;
    font-weight: bold;
    text-decoration: underline;
}

.stories__btn-wrapper {
    display: flex;
    justify-content: center;
}

.stories__btn {
    width: 228px;
    height: 59px;
    padding: 10px 32px;
    color: #fff;
    font-size: 24px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    margin-bottom: 41px;
}

.footer {
    padding-top: 41px;
    background-image: url("../images/backgrounds/stories_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.footer__content {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: row-reverse;
    gap: 0 328px;
}

.footer__social-link {
    display: flex;
    gap: 0 20px;
}

.footer__text {
    color: #fff;
    font-size: 16px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    padding-bottom: 19px;
}
